* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/image1.png);
    background-position: center;
    background-size: max(1200px, 100vw);
    height: 70vh;
    width: 100vw;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.main .box {
    height: 70vh;
    width: 100vw;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
}

nav {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    height: 62px;
}


.logo img {
    height: 40px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 82px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: sans-serif;
    gap: 29px;
    padding: 0 30px;
    text-align: center;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
}

.hero> :nth-child(2) {
    font-weight: 600;
    font-size: 20px;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 16px;
}

.line {
    height: 4px;
    background-color: rgb(47, 47, 47);
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(248, 243, 243, 0.021);
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    cursor: pointer;
}

.btnSN {
    background-color: #e50914;
    border: 1px solid #e50914;

}

.btnGS {

    background-color: #e50914;
    padding: 3px 24px;
    border-radius: 4px;
    font-size: 20px;
    border: 1px solid #e50914;

}

.main input {
    padding: 7px 101px 8px 14px;
    border-radius: 4px;
    font-size: 12px;
    background-color: black;
    opacity: 0.5;
    border: 1px solid whitesmoke;
    color: white;
}

.herobutton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    font-family: sans-serif;
    padding: 50px;
}

@media screen and (max-width: 1300px) {
    .first {
        flex-direction: column;
    }

    .sec-img img {
        width: 450px;

    }

    .sec-img video {

        width: 350px;

    }

    .hero> :nth-child(1) {

        font-size: 32px;
    }

    .hero> :nth-child(2) {

        font-size: 18px;
    }

    .hero> :nth-child(3) {

        font-size: 18px;
    }

    .herobutton {
        flex-direction: column;

    }

    .btnGS {
        font-size: 18px;

    }

    nav {
        width: 90vw;

    }




}

.sec-img {
    position: relative;
}

.sec-img img {
    width: 555px;
    z-index: 10;
    position: relative;
}


.sec-img video {
    position: absolute;
    top: 87px;
    right: 77px;
    width: 408px;

}

section.first>div {
    display: flex;
    flex-direction: column;

}

.sp1 {
    font-size: 48px;
    font-weight: bolder;
}

.sp2 {
    font-size: 24px;
    font-weight: bolder;
}

.feq {
    background-color: black;
    color: white;

}

.feq h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 42px;
    font-family: sans-serif;
}

.feqbox:hover {
    background-color: #414141;

}

.feqbox svg {
    filter: invert(1);
}

.feqbox {
    transition: all 0.5s ease-out;
    display: flex;
    background-color: #2d2c2d;
    padding: 24px;
    max-width: 60vw;
    margin: 8px auto;
    justify-content: space-between;
    cursor: pointer;
    font-family: sans-serif;

}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 34px;
}

.questions {
    padding: 34px 0;

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    font-size: 14px;

}

.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

@media screen and (max-width: 1300px) {
    .footer {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        max-width: 90vw;
    }

    .feq h2 {

        font-size: 32px;

    }

    .footer a {
        text-decoration: none;
        color: white;
    }

    .footer-item {

        gap: 14px;
        align-items: center;

    }

    .feqbox {

        padding: 18px;

    }
    .first .sp1{
        font-size: 32px;
    }
    .first .sp2{
        font-size: 18px;
    }   
}